section {
    position: relative;
}

section section {
    /* padding-left: 2rem; */
}

span {
    background-color: lightgray;
    position: absolute;
    right: 100%;
    padding: .25rem;
    margin-right: 2rem;
}

article {
    display: flex;
    background: #F0F0F0;
    color: black;
    font-family: Helvetica, sans-serif;
}

article>header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    color: white;
    background: #2E2E2E;
    width: 15rem
}

article>section {
    padding-left: 0;
    max-height: calc(100vh - 12rem);
    background: #FFFFFF;
    overflow: auto;
    padding: 6rem;
    flex-grow: 1;
}

li {
    list-style: none;
}

ul,
li {
    padding: 0
}

ul ul {
    padding-left: 1rem;
}


/* nav > ul {
    padding
} */

ul a {
    display: block;
    padding: .5rem;
    color: white;
}

ul a:hover {
    color: black;
    background: #EEEEEE;
}

@keyframes hightlight {
    from {
        background: #F0F086;
    }
}

.active {
    animation: 2s ease-out hightlight;
}