<article>
  <select (change)="changeLang($event)">
    <option value="en">EN</option>
    <option value="sv">SV</option>
  </select>
  <input ngModel (ngModelChange)="search($event)" type="search" placeholder="Search">
  <nav>
    <ul>
      <li *ngFor="let section of article">
        <a>{{section.title}}</a>
        <ul>
          <li *ngFor="let section of section.sections">
            <a href="#{{section.fragment}}">{{section.title}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <section *ngFor="let section of article">
    <h2>{{section.title}}</h2>
    <p>{{section.context}}</p>
    <section *ngFor="let section of section.sections" id="{{section.fragment}}">
      <h3>{{section.title}}</h3>
      <p>{{section.context}}</p>
      <section *ngFor="let subsection of section.subsections | search:term">
        <h2 [innerHtml]="subsection.title | hightlight:term"></h2>
        <span [innerHtml]="subsection.category"></span>
        <p [innerHtml]="subsection.context | hightlight:term"></p>
      </section>
    </section>
  </section>



</article>