<nav>
    <ul>
        <li>
            <a [routerLink]="['/perceivable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.PERCEIVABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/perceivable/text-alternatives']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.PERCEIVABLE.TEXT_ALTERNATIVES" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/time-based-media']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.PERCEIVABLE.TIME-BASED_MEDIA" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/adaptable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.PERCEIVABLE.ADAPTABLE" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/distinguishable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.PERCEIVABLE.DISTINGUISHABLE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/operable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.OPERABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/perceivable/keyboard-accessible']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.OPERABLE.KEYBOARD_ACCESSIBLE" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/enough-time']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.OPERABLE.ENOUGH_TIME" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/seizures']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.OPERABLE.SEIZURES" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/navigable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.OPERABLE.NAVIGABLE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/understandable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.UNDERSTANDABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/understandable/readable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.UNDERSTANDABLE.READABLE" | translate }}</a></li>
                <li><a [routerLink]="['/understandable/predictable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.UNDERSTANDABLE.PREDICTABLE" | translate }}</a></li>
                <li><a [routerLink]="['/understandable/input-assistance']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.UNDERSTANDABLE.INPUT_ASSISTANCE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/robust']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.ROBUST" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/robust/compatible']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION.LIST.ROBUST.COMPATIBLE" | translate }}</a></li>
            </ul>
        </li>
    </ul>
</nav>