<nav>
    <ul>
        <li>
            <a  routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_PERCEIVABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/perceivable/text-alternatives']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_PERCEIVABLE_TEXT_ALTERNATIVES" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/time-based-media']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_PERCEIVABLE_TIME-BASED_MEDIA" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/adaptable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_PERCEIVABLE_ADAPTABLE" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/distinguishable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_PERCEIVABLE_DISTINGUISHABLE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/operable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_OPERABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/perceivable/keyboard-accessible']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_OPERABLE_KEYBOARD_ACCESSIBLE" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/enough-time']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_OPERABLE_ENOUGH_TIME" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/seizures']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_OPERABLE_SEIZURES" | translate }}</a></li>
                <li><a [routerLink]="['/perceivable/navigable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_OPERABLE_NAVIGABLE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/understandable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_UNDERSTANDABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/understandable/readable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_UNDERSTANDABLE_READABLE" | translate }}</a></li>
                <li><a [routerLink]="['/understandable/predictable']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_UNDERSTANDABLE_PREDICTABLE" | translate }}</a></li>
                <li><a [routerLink]="['/understandable/input-assistance']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_UNDERSTANDABLE_INPUT_ASSISTANCE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/robust']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_ROBUST" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/robust/compatible']" routerLinkActive="selected">{{ "PRIMARY_NAVIGATION_LIST_ROBUST_COMPATIBLE" | translate }}</a></li>
            </ul>
        </li>
    </ul>
</nav>