<nav>
    <ul>
        <li>
            <a>{{ "NAVIGATION_PERCEIVABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/article/perceivable/text-alternatives']" routerLinkActive="selected">{{ "NAVIGATION_PERCEIVABLE_TEXT_ALTERNATIVES" | translate }}</a></li>
                <li><a [routerLink]="['/article/perceivable/time-based-media']" routerLinkActive="selected">{{ "NAVIGATION_PERCEIVABLE_TIME-BASED_MEDIA" | translate }}</a></li>
                <li><a [routerLink]="['/article/perceivable/adaptable']" routerLinkActive="selected">{{ "NAVIGATION_PERCEIVABLE_ADAPTABLE" | translate }}</a></li>
                <li><a [routerLink]="['/article/perceivable/distinguishable']" routerLinkActive="selected">{{ "NAVIGATION_PERCEIVABLE_DISTINGUISHABLE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a>{{ "NAVIGATION_OPERABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/article/operable/keyboard-accessible']" routerLinkActive="selected">{{ "NAVIGATION_OPERABLE_KEYBOARD_ACCESSIBLE" | translate }}</a></li>
                <li><a [routerLink]="['/article/operable/enough-time']" routerLinkActive="selected">{{ "NAVIGATION_OPERABLE_ENOUGH_TIME" | translate }}</a></li>
                <li><a [routerLink]="['/article/operable/seizures']" routerLinkActive="selected">{{ "NAVIGATION_OPERABLE_SEIZURES" | translate }}</a></li>
                <li><a [routerLink]="['/article/operable/navigable']" routerLinkActive="selected">{{ "NAVIGATION_OPERABLE_NAVIGABLE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a>{{ "NAVIGATION_UNDERSTANDABLE" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/article/understandable/readable']" routerLinkActive="selected">{{ "NAVIGATION_UNDERSTANDABLE_READABLE" | translate }}</a></li>
                <li><a [routerLink]="['/article/understandable/predictable']" routerLinkActive="selected">{{ "NAVIGATION_UNDERSTANDABLE_PREDICTABLE" | translate }}</a></li>
                <li><a [routerLink]="['/article/understandable/input-assistance']" routerLinkActive="selected">{{ "NAVIGATION_UNDERSTANDABLE_INPUT_ASSISTANCE" | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a>{{ "NAVIGATION_ROBUST" | translate }}</a>
            <ul>
                <li><a [routerLink]="['/article/robust/compatible']" routerLinkActive="selected">{{ "NAVIGATION_ROBUST_COMPATIBLE" | translate }}</a></li>
            </ul>
        </li>
    </ul>
</nav>